<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search City
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="searchCity" placeholder="Enter city name"></ion-input>
    <ion-button (click)="searchWeather()">Search</ion-button>
  </ion-item>

  <ion-button routerLink="/home" expand="full">Back to Home</ion-button> <!-- Tombol kembali ke Home -->

  <ion-card *ngIf="weatherData">
    <ion-item>
      <h1>{{ weatherData.name }}</h1>
      <img [src]="weatherIcon" alt="Weather Icon">
    </ion-item>
    <ion-item>
      <p>Temperature: {{ weatherData.main.temp - 273.15 | number: '1.0-0' }}°C</p>
      <p>Condition: {{ weatherData.weather[0]?.description }}</p>
    </ion-item>
    <ion-item>
      <p>Humidity: {{ weatherData.main.humidity }}%</p>
      <p>Wind Speed: {{ weatherData.wind.speed | number: '1.0-0' }} m/s</p>
    </ion-item>
    <ion-item>
      <p>Pressure: {{ weatherData.main.pressure }} hPa</p>
    </ion-item>
  </ion-card>
</ion-content>