<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <p>Today's Report</p>
      <ion-label>
        {{todayDate | date: "EEE dd MMM"}}
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <span>
        {{(weatherTemp?.temp - 273.15).toFixed(0)}}
      </span>
      <img [src]="weatherIcon">
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>{{ cityName }}</h1>
        <div *ngIf="weatherTemp">
          <p>Temperature: {{ weatherTemp.temp - 273.15 | number: '1.0-0' }}°C</p>
          <p>Condition: {{ weatherTemp.weather[0]?.description }}</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-button routerLink="/search">Search for Another City</ion-button>
</ion-content>